@import "src/scssMixinsandFunctions/common";

.games-list-pagination {
  text-align: right;
  padding: 0;

  li {
    list-style: none;
    margin-left: 5px;
    cursor: pointer;
    @include inline-block();

    &.active {
      background: #3f51b5;
    }

    &.break,
    &.active {
      cursor: default;
    }

    a {
      display: block;
      border: 1px solid white;
      min-width: 42px; height: 42px;
      line-height: 42px;
      text-align: center;
      outline: none;
      @include border-radius(4px);
      @include user-select();
    }
  }


  @include breakpoint-all-mobile {
    li {
      margin-left: 2px;

      a {
        font-size: 12px;
        min-width: 32px; height: 32px;
        line-height: 32px;
        @include border-radius(2px);
      }
    }
  }
}